<br/>
<h3>@ViewBag.Message</h3>
<br/>
<address>
    54 Birches Avenue<br />
    Glasgow, G60-6JA<br />
    <abbr title="Phone">P:</abbr>
    0141 1141 1141
</address>
<br/>
<address>
    <strong>Support:</strong>   <a href="mailto:donaldson.motors.management@gmail.com">donaldson.motors.management@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:donaldson.motors.management@gmail.com">donaldson.motors.management@gmail.com</a>
</address>