@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="jumbotron">

    <img src="~/Content/Images/DonaldsonMotors.jpg" alt="Donaldson Motors Welcome Page", width="1050" height="450"/>
    <text></text>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/DonaldsonPhotoHome.jpeg" alt="Donaldson Motors Welcome Page", width="320" height="250"/>
        <h3>View Jobs</h3>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/DonaldsonLogo.png" alt="Donaldson Motors Logo", width="320" height="250"/>
        <h3>View Jobs</h3>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/MotPhoto.jpg" alt="Donaldson Motors photo", width="320" height="250"/>
        <h3>View Jobs</h3>
    </div>
</div>