
@{
    ViewBag.Title = "ViewJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Jobs</h2>

<br/>
<br/>
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/DonaldsonPhotoHome.jpeg" alt="Donaldson Motors Welcome Page", width="320" height="250"/>
        <h3>Tire Change</h3>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/DonaldsonLogo.png" alt="Donaldson Motors Logo", width="320" height="250"/>
        <h3>MOT</h3>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/MotPhoto.jpg" alt="Donaldson Motors photo", width="320" height="250"/>
        <h3>Oil Change</h3>
    </div>
</div>
<br/>