@model DonaldsonMotorsThree.ViewModels.BookingFormViewModel


@{
    ViewBag.Title = "Book Job";
}

<h2><b><em>Book a Job</em></b></h2>

<br/>
<br/>

<form id ="newBooking">
    <div class="form-group" id="job">
        <label>Job</label>
        <div class="tt-container">
            <input class="typeahead form-control" type="text" value="" />
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul class="list-group" id="jobs"></ul>
        </div>
    </div>
    
    <div class="form-group">
        <label>Parts</label>
        <div class="tt-container">
            <input type="text" value="" class="form-control" />
        </div>
       
    </div>
    
    <div class="form-group">
        <label>Desired Completion Date</label>
        <input type="date" value="" class="form-control" />
    </div>
    <br/>
    <br/>
    <button class="btn btn-primary">Continue</button>
</form>

   


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        // When DOM is Ready //
        $(document).ready(function() {
            // Initialise ViewModel with Array for JobIds //
            var vm = {
                jobIds: []
            };

            // Bloodhound engine for search optimization // 
            var jobs = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('jobRequirements'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,

                remote: {
                    url: '/api/jobs?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            // Start typeahead when length = 2 chars name:<> display:<> source:<> //
            $('#job .typeahead').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'jobs',
                    display: 'jobRequirements',
                    source: jobs
                });
        }).on("typeahead:select",
            function (e, job) {
                //When a Job item has been selected, append selected job onto list //
                $("#jobs").append("<li class='list-group-item'>" + job.jobRequirements + "</li>");

                $("#job").typeahead("val", "");

                vm.jobIds.push(job.jobId);

                $("#newBooking").submit(function(e) {
                    e.preventDefault();

                    $.ajax({
                            url: "api/bookingData",
                            method: "post",
                            data: vm
                        })
                        .done(function() {
                            console.log("done");
                        })
                        .fail(function() {

                        });
                });
            });


    </script>

}

