@model DonaldsonMotorsThree.ViewModels.BookingFormViewModel


@{
    ViewBag.Title = "Book Job";
}
<br />
<h3><b><em>Book a Job</em></b></h3>

<br/>
<br/>

<form id ="newBooking">
    <div class="form-group" id="job">
        <label>Job</label>
        <div class="tt-container">
            <input class="typeahead form-control" type="text" value="" />
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul class="list-group" id="jobs"></ul>
        </div>
    </div>
    
    <div class="form-group" id="carpart">
        <label>Parts</label>
        <div class="tt-container">
            <input type="text" value="" class="typeahead form-control" />
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <ul class="list-group" id="carparts"></ul>
            </div>
        </div>
       
    </div>
    <br/>
    <br/>
  
    <div class="form-group">
        <label>Desired Completion Date</label>
        <input type="date" value="startDate" class="form-control" />
    </div>
    <br/>
    <br/>
    @Html.ActionLink("Continue","CreateVehicleDetailsForm", "Booking", new {@class="btn btn-primary"})
</form>

   


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        // When DOM is Ready //
        $(document).ready(function() {
            // Initialise ViewModel with Array for JobIds //
            var vm = {
                jobIds: [],
                carPartIds:[]
            };

            // Bloodhound engine for search optimization // 
            var jobs = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('jobRequirements'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,

                remote: {
                    url: '/api/jobs?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            // Start typeahead when length = 2 chars name:<> display:<> source:<> //
            $('#job .typeahead').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'jobs',
                    display: 'jobRequirements',
                    source: jobs
                });
        }).on("typeahead:select",
            function (e, job) {
                //When a Job item has been selected, append selected job onto list //
                $("#jobs").append("<li class='list-group-item'>" + job.jobRequirements + "</li>");

                $("#job").typeahead("val", "");

                vm.jobIds.push(job.jobId);

                $("#newBooking").submit(function(e) {
                    e.preventDefault();

                    $.ajax({
                            url: "api/bookingData",
                            method: "post",
                            data: vm
                        })
                        .done(function() {
                            console.log("done");
                        })
                        .fail(function() {

                        });
                });
            });
        

        var carParts = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/carparts?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#carpart').typeahead(
            {
                minlength:2,
                highlight:true
            }, {
            name: 'carparts',
            display: 'Name',
            source: carparts
            }).on("typeahead:select",
            function (e, carpart) {

                //When a Job item has been selected, append selected job onto list //
                $("#carparts").append("<li class='list-group-item'>" + carpart.Name + "</li>");

                $("#carpart").typeahead("val", "");

                vm.carPartIds.push(carpart.PartId);

                $("#newBooking").submit(function (e) {
                    e.preventDefault();

                    $.ajax({
                            url: "api/bookingData",
                            method: "post",
                            data: vm
                        })
                        .done(function () {
                            console.log("Booking Data Post Succeeded");
                        })
                        .fail(function () {
                            console.log("Function Failed");

                        });
                });
            });





    </script>

}

