@model DonaldsonMotorsThree.ViewModels.BookingFormViewModel


@{
    ViewBag.Title = "Book Job";
}

<h2><b><em>Book a Job</em></b></h2>
@using (Html.BeginForm("Create", "Booking"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Job)

        @Html.DropDownListFor(m => m.Job, new SelectList(Model.Jobs, "JobId", "JobRequirements"), "Select Job", new { @class = "form-control" })
    </div>
    <div class="form-group">
       
    </div>

}


@section scripts
{
@Scripts.Render("~/bundles/jqueryval")

    <script>

        // When DOM is Ready //
        $(document).ready(function() {
            // Initialise ViewModel with Array for JobIds //
            var vm = {
                jobIds: [] 
            };
            // Bloodhound engine for search optimization // 
            var jobs = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('JobRequirements'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/jobs?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            // Start typeahead when length = 3 chars name:<> display:<> source:<> //
            $('#job').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'jobs',
                    display: 'JobRequirements',
                    source: jobs
                });
        }).on("typeahead:select",
            //When a Job item has been selected, append selected job onto list //
            function(e, job) {
                $("#job").append("<li class='list-group-item'>" + job.jobrequirements + "</li>");

                $("#job").typeahead("val", "");

                vm.jobIds.push(job.id);
            });

    </script>

}

