@using DonaldsonMotorsThree.Models
@model DonaldsonMotorsThree.ViewModels.CreateBookingViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Bookings page shows actions to other pages for Create, ViewAllBookings, and View previous bookings for the logged in customer. -->
<h2>Bookings</h2>

<br/>
        
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Create Booking","Create","Booking", new { @class = "btn btn-info" })
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-info" onclick="location.href = '@Url.Action("GetBookingHistory", "Booking")'"><strong>View Previous Bookings</strong></button>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-info" onclick="location.href = '@Url.Action("ViewAll", "Booking")'"><strong>View all Bookings</strong></button>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-info" onclick="location.href = '@Url.Action("ActiveBookings", "Booking")'"><strong>Active Bookings </strong></button>
    </div>
</div>
<!-- JS Code Below-->
    @section scripts
    {
        

        

    }

