@using DonaldsonMotorsThree.Models
@model DonaldsonMotorsThree.Models.Customer

@{
    ViewBag.Title = "Thank You for Booking";
}

<h2>Thank You for Booking</h2>
<br />
<br />
<br />
<br />
<div width="100%" style="text-align:center"><p>Thank you <em>@Model.FirstName</em>&nbsp;<em>@Model.LastName</em></p> </div>
<br />
<br />
<br />
<br />
