<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li> <a href="/Staff/Index">&nbsp;&nbsp; Staff</a></li>
        <li> <a href="/Customer/Index">&nbsp;&nbsp; Customer </a></li>
        <li class="divider"></li>
        <li> <a href="/Report">&nbsp;&nbsp; Reports</a></li>
        <li> <a href="/Review">&nbsp;&nbsp; Reviews </a></li>
        <li class="divider"></li>
    </ul>
</li>
