<li class="dropdown" data-garage-admin-menu>
    <a href="#">
        Garage Manager
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li> <a href="/Staff/Index">&nbsp;&nbsp; Staff</a></li>
        <li> <a href="/Customer/Index">&nbsp;&nbsp; Customer </a></li>
        <li class="divider"></li>
        <li> <a href="/Report/GenerateReport">&nbsp;&nbsp; Reports</a></li>
        <li> <a href="/Review/AdminIndex">&nbsp;&nbsp; Reviews </a></li>
        <li class="divider"></li>
        <li> <a href="/Role/Index">&nbsp;&nbsp; Roles </a></li>
        <li> <a href="/Stock/Index">&nbsp;&nbsp; Stock </a></li>
        <li class="divider"></li>
        <li> <a href="/Supplier/Index">&nbsp;&nbsp; Suppliers </a></li>
        <li class="divider"></li>
    </ul>
</li>

