<li class="dropdown" data-store-menu>
    <a href="#">
        Store Manager
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li> <a href="/Stock/Index">&nbsp;&nbsp; Stock </a></li>
        <li> <a href="/Supplier/Index">&nbsp;&nbsp; Suppliers</a></li>
        <li class="divider"></li>
        <li> <a href="/Staff/Index">&nbsp;&nbsp; Staff </a></li>
        <li> <a href="/Report/GenerateReport">&nbsp;&nbsp; Reports</a></li>
        <li class="divider"></li>
    </ul>
</li>

