
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>
<br/>
<h5>Generate reports:</h5>

<br/>

<div class="row">
    <div class="col-md-2">
        <input type="button" class="btn btn-info" value="Stock Report" onclick="location.href = '@Url.Action("StockReport", "Report")'" />
    </div>

</div>

<br/>

<div class="row">
    <div class="col-md-2">

        <input type="button" class="btn btn-info" value="Product Report" onclick="location.href = '@Url.Action("ProductReport", "Report")'"/>

    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-2">
        <button type="submit" class="btn btn-info"> Customers & Jobs</button>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-2">
        <input type="button" class="btn btn-info" value="Daily Job List" onclick="location.href = '@Url.Action("DailyJobsList", "Report")'"/>

    </div>
</div>

<br/>








