
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>
<br/>
<h5>Generate reports:</h5>

<br/>

<div class="row">
    <div class="col-md-2">
        <button type="submit" class="btn btn-light"> Stock Report</button>
    </div>

</div>

<br/>

<div class="row">
    <div class="col-md-2">
        <button type="submit" class="btn btn-light"> Product Report</button>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-2">
        <button type="submit" class="btn btn-light"> Customers & Jobs</button>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-2">
        <button type="submit" class="btn btn-light"> Daily Job List</button>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-2">
        <button type="submit" class="btn btn-success"> Export as CSV File</button>
    </div>
</div>








