@using DonaldsonMotorsThree.Models
@model DonaldsonMotorsThree.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
        <h3 style="text-align: center">Role Details</h3>
        <hr />
        <div class="form-border">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
        </div>
</div>
<br/>
<p>
   @Html.Partial("_SingleButtonPartial", new SingleButtonPartial
    {
        Action = "Edit",
        ButtonType = "btn-primary",
        Glyph = "pencil",
        Text ="Edit",
        RoleId = Model.Id

    })
    <br/>
    <br/>
    @Html.Partial("_BackToListButtonPartial")
</p>
