@using DonaldsonMotorsThree.Models
@model DonaldsonMotorsThree.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoleViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
   @Html.Partial("_SingleButtonPartial", new SingleButtonPartial
    {
        Action = "Edit",
        ButtonType = "btn-primary",
        Glyph = "pencil",
        Text ="Edit",
        RoleId = Model.Id

    })
    @Html.ActionLink("Back to List", "Index")
</p>
