@using DonaldsonMotorsThree.Models
@model IEnumerable<DonaldsonMotorsThree.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<br/>
<h3 style="text-align: center">Manage Roles</h3>


<table class="table" id="roleTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>

            @Html.Partial("_TableButtonPartial", new SingleButtonPartial {RoleId = item.Id})
        </td>
    </tr>
        </tbody>
    }

</table>
<hr/>
<p>
    <div class="col-md-offset-9 col-md-10">
        @Html.Partial("_CreateButtonPartial")
    </div>
</p>



@section scripts
{
    <script>
        $(document).ready(function() {

            $("#roleTable").DataTable();

        });
    </script>
}
