@using DonaldsonMotorsThree.Models
@model IEnumerable<DonaldsonMotorsThree.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "Index";
}
<br/>
<br />
<br/>
<h3 style="text-align: center">Manage Roles</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
           
                @Html.Partial("_TableButtonPartial", new SingleButtonPartial { RoleId = item.Id })
            </td>
        </tr>
    }

</table>
<hr/>
<p>
    <div class="col-md-offset-9 col-md-10">
        @Html.Partial("_CreateButtonPartial")
    </div>
</p>
