@{
    ViewBag.Title = "Stock Ordered";
}
<br/>
<br/>
<br/>
<br/>
<br/>

<p style="text-align: center">
    <em>  Stock order is successful</em>

</p>
<br/>
<p style="text-align: center"><em>Please check your email for order details.</em></p>



